.footer {
  margin-top: 88px;
  // margin-bottom: 88px;
  border-top: 1px solid#9C69E2;
  .container {
    padding: 50px 0;
    .footer-home {
      .col-3 {
        img {
          margin-right: 10px;
        }
        h2 {
          font-weight: 900;
          font-size: 20px;
          line-height: 160%;
          /* or 32px */

          /* 2 */

          color: #212353;
        }

        ul {
          padding: 0;
          list-style: none;
          li {
            margin-top: 20px;
            font-weight: 500;
            font-size: 16px;
            line-height: 180%;
            /* or 29px */

            letter-spacing: 0.01em;

            /* 2 */

            color: #212353;
          }
        }
      }
      
    }
    .footer-bot {
      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 180%;
        /* or 22px */

        display: flex;
        align-items: center;
        letter-spacing: 0.01em;

        /* 2 */

        color: #212353;
      }
    }
  }
}
