@import "../base/base";
@import "../varialble/varialble";
.carousel {
  margin-top: 142px;
  .container {
    @media screen and (max-width: 768px){
      flex-wrap: wrap;
    }
    .carousel-left {
      @media screen and (max-width: 768px) {
       width: 100%;
    }
      width: 40%;
      h1 {
        @media screen and (max-width: 1080px){
          font-size: 50px;
        }
        font-size: 80px;
        font-weight: 700;
        color: #212353;
        line-height: 110%;
        // display: flex;
        // align-items: center;
      }
      h3 {
        font-size: 18px;
        font-weight: 500;
        line-height: 160%;
        margin: 50px 0;
      }
      .btn-learnmore {
        border-radius: 50px;
        background: #9c69e2;
        font-size: 18px;
        font-weight: 800;
        color: #ffffff;
        border: none;
        padding: 16px 36px;
      }
    }
    .carousel-right {
      @media screen and (max-width: 768px) {
        width: 100%;
    }
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        width: 700px;
        height: 400px;
      }
    }
  }
}
.features {
  margin-top: 164px;
  .container {
    .future-top {
      max-width: 600px;
      margin: auto;
    }
    h2 {
      font-weight: 700;
      font-size: 40px;
      line-height: 130%;
      margin-bottom: 50px;
      color: #212353;
      text-align: center;
    }
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
    }
  }
  .feature-body {
    // position: relative;
    .row {
      .col-6 {
        @media screen and (max-width: 768px){
          width: 100%;
          
        }
        .item1 {
          background: #68c9ba;
          @media screen and (max-width: 768px){
            margin-bottom: 20px;
          }
        }
        .item2 {
          background: #9c69e2;
        }
        .item3 {
          background: #f063b8;
        }
        .item4 {
          background: #2d9cdb;
        }
        .item {
          border-top-left-radius: 55%;
          padding: 70px 40px;
          opacity: 1;
          /* border-radius: 50px; */
          display: flex;
          border-bottom-left-radius: 20%;
          border-top-right-radius: 20%;
          border-bottom-right-radius: 20%;
          border-top-left-radius: 52%;

          opacity: 1;

          display: flex;
          .item-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
              width: 200px;
              height: 207px;
            }
          }
          .item-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between h3 {
              // position: absolute;
              font-weight: 400;
              font-size: 24px;
              line-height: 130%;
              /* or 31px */

              display: flex;
              align-items: center;

              color: #212353;
              // z-index: 10;
            }
            .content-future {
              font-weight: 400;
              font-size: 16px;
              line-height: 160%;
              /* or 26px */

              /* 1 */

              color: #4b5d68;
            }
            span {
              h4 {
                font-weight: 800;
                font-size: 16px;
                line-height: 160%;
                /* identical to box height, or 26px */

                display: flex;
                align-items: center;
                letter-spacing: 0.005em;

                /* 2 */

                color: #212353;
              }
              i {
                color: #9c69e2;
              }
            }
          }
        }
      }
    }
  }
}
.testimonials {
  margin-top: 120px;
  .container {
    .testimonials-bg {
      @media screen and (max-width: 768px){
        padding: 30px;
      }
      background: #9c69e2;
      border-radius: 50px;
      padding: 130px;
      h2 {
        // margin-top: 109px;
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        /* or 52px */

        display: flex;
        align-items: center;

        color: #ffffff;
      }
      .carousel {
        .carousel-indicators {
          button {
          }
        }
        .carousel-inner {
          background-color: #ffffff;
          border-radius: 20px;
          .carousel-item {
            display: flex;
            justify-content: flex-start;
            // margin: 0;
            padding: 60px;
            // border-radius: 20px;
          
            // box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
            img {
              width: 130px;
              height: 90px;
              margin: 0;
              margin-right: 43px;
            }
            .carousel-itemleft {
              h2 {
                font-weight: 900;
                font-size: 18px;
                line-height: 160%;
                /* or 29px */

                display: flex;
                align-items: center;
                letter-spacing: 0.005em;

                /* 2 */

                color: #212353;
              }
              h3 {
                font-weight: 500;
                font-size: 14px;
                line-height: 160%;
                /* identical to box height, or 22px */

                display: flex;
                align-items: center;
                letter-spacing: 0.01em;

                /* 3 */

                color: #9c69e2;
              }
              p {
                font-weight: 400;
                font-size: 18px;
                line-height: 180%;
                /* or 32px */

                /* 1 */

                color: #4b5d68;
              }
            }
          }
        }
        .carousel-control-prev {
        }
        .carousel-control-next {
        }
      }
    }
  }
}
