@import "../base/base";
@import "../varialble/varialble";
.login {
  h3 {
    @media screen and (max-width: 765px) {
      font-size: 25px;
    }
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-top: 60px;
    margin-bottom: 42px;
    color: #000000;
    text-align: center;
    // border-radius: 10px;
  }
  .login-body {
    max-width: 600px;
    margin: auto;
    .ant-form-item {
      .ant-row {
        .ant-col {
          .ant-form-item-control-input {
            .ant-form-item-control-input-content {
                border-radius: 4px 4px 4px 4px;
              .ant-input-affix-wrapper {
                .ant-input-prefix {
                }
                .ant-input {
                  padding: 14px;
                  
                }
              }
            }
            .ant-btn-primary {
              background: #6200ee;
              /* 04 dp */
              box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14),
                0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
              border-radius: 50px;
            //   font-size: 30px;
            width: 100%;
             
            }
            .login-res {
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                /* identical to box height, or 133% */
                letter-spacing: 0.135px;
                color: rgba(21, 42, 235, 0.8);
              }
          }
        }
      }
    }
  }
}
